<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Liste des grandes capitales du monde</title>
  </head>
  <body>
    <div class="center">
      <header>
        <h1>Liste des grandes capitales du monde</h1>
      </header>
      <ul>
        <% for(const city of capitalCities) {%>
        <li><a href="/city/<%= city.name %>"><%= city.name %></a></li>
        <% } %>
      </ul>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
